html {
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.2;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	text-align: center;
	color: #333;
	background-color: #fff;
}

textarea {
	display: block;
	margin: 1em auto;
	padding: 0.5em;
	font-size: 1rem;
	width: 75%;
	max-width: 80em;
	height: 80vh;
	resize: none;
}